In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
sns.set(color_codes=True)
%matplotlib inline
from google.colab import files
uploaded = files.upload()

Saving tweets.csv to tweets.csv

In [12]:
import io
df = pd.read_csv(io.BytesIO(uploaded['tweets.csv']))
df.head()

   Unnamed: 0                                            message  label
0         106  just had a real good moment. i missssssssss hi...      0
1         217         is reading manga  http://plurk.com/p/mzp1e      0
2         220  @comeagainjen http://twitpic.com/2y2lx - http:...      0
3         288  @lapcat Need to send 'em to my accountant tomo...      0
4         540      ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0

In [13]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.head()

                                             message  label
0  just had a real good moment. i missssssssss hi...      0
1         is reading manga  http://plurk.com/p/mzp1e      0
2  @comeagainjen http://twitpic.com/2y2lx - http:...      0
3  @lapcat Need to send 'em to my accountant tomo...      0
4      ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0

In [14]:
df['label'].value_counts()

0    8000
1    2314
Name: label, dtype: int64

In [0]:
df_x = df['message']
df_y = df['label']

In [0]:
tf_idf = TfidfVectorizer(min_df=1,stop_words='english')

In [0]:
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y,test_size = 0.1,random_state=4)

In [0]:
x_traincv = tf_idf.fit_transform(x_train)

In [0]:
mnb = MultinomialNB()

In [0]:
x_testcv = tf_idf.transform(x_test)

In [21]:
mnb.fit(x_traincv,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [0]:
pred = mnb.predict(x_testcv)

In [23]:
x_test.iloc[0]

'depression is not a meme, it\'s not a joke," it\'s not something you can claim because you think it\'s ""cool"" or ""trendy"" or because other people near/close to you have it. depression is REAL & SERIOUS so plz stop making depression jokes when u don\'t HAVE IT'

In [24]:
mnb.predict(tf_idf.transform([x_test.iloc[0]]))

array([1])

In [25]:
mnb.predict(tf_idf.transform(['I want to commit suicide']))

array([1])